@using ClarkCodingChallenge.Models.RequestDtos
@{
    ViewData["Title"] = "Contacts Page";
}

@model CreateContactsRequestDto

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Add a contact</h2>


    <form method="post" action="/Contacts/Index">
        <label for="firstName">First Name</label>
        <input id="firstName" name="firstName" type="text" value="@Model?.FirstName" />
        <label for="lastName">Last Name</label>
        <input id="lastName" name="lastName" type="text" value="@Model?.LastName" />
        <label for="email">Email</label>
        <input id="email" name="email" type="email" value="@Model?.Email" />
        <button type="submit">Add Contact</button>
    </form>

    <div asp-validation-summary="All"></div>
</div>

